.noResults {
    padding: 15px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f6f6;
}

.smile {
    font-size: 58px;
    color: #1a85a8;
}

.sorryText {
    font-size: 23px;
    color: black;
    font-weight: bold;
}