.filmRating {
    width: 360px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 599px) {
      width: 250px;
    }
}

.stars {
    list-style: none;
    display: flex;
}

.star {
    color: #0aaee4;
    margin-right: 13px;
    font-size: 17px;
    @media (max-width: 599px) {
      margin-right: 8px;
      font-size: 12px;
    }
}

.ratingContainer {
    width: 38px;
    border: 1px solid #0aaee4;
    border-radius: 5px;
    @media (max-width: 599px) {
        width: 30px;
        font-size: 12px;
    }
}

.rating {
    color: white;
    text-align: center;
}