.wrppaer {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.aboutFilm {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
}

.listItem,
.splitter,
.duration {
    color: white;
    margin-right: 25px;
    font-size: 15px;
}