.wrppaer {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 45px;
    font-weight: 700;
    @media (max-width: 599px) {
      font-size: 25px;
    }
}

.aboutFilm {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.listItem,
.splitter,
.duration {
    color: white;
    margin-right: 25px;
    font-size: 15px;
}