.movieCard {
    width: 300px;
    height: 525px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    margin-top: 20px;
}

.movieCardCover {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 450px;
}

.movieCardCover:hover > .movieCardInfo {
    display: flex;
}

.movieCardInfo {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    border-radius: 10px 10px 0 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playIcon {
    font-size: 65px;
    color: #0aaee4;
    margin-top: 20%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.playIconTitle {
    color: white;
    font-size: 17px;
}

.button {
    width: 120px;
    height: 35px;
    margin-top: 10%;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #0aaee4;
    border: 2px solid #0aaee4;
}

.movieCardMainInfo {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.movieCardMainInfoTitle {
    width: 210px;
}

.movieName {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genres {
    color: #0aaee4;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieCardMainInfoRating {
    width: 38px;
    height: 21px;
    border: 1px solid #0aaee4;
    border-radius: 5px;
}

.rating {
    color: #0aaee4;
    text-align: center;
}