.noVideo {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.smile {
    font-size: 58px;
    color: #1a85a8;
}

.sorryText {
    font-size: 23px;
    color: white;
    font-weight: bold;
}