.container {
    width: 310px;
    height: 215px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding: 20px;
    display: block;
    overflow: auto;
    @media (max-width: 899px) {
        top: 120px;
        right: initial;
        padding: 10px;
    }
    @media (max-width: 599px) {
        top: 90px;
        width: 250px;
        height: 110px;
    }
}

.description {
    color: white;
    font-size: 17px;
    line-height: 1.7;
    @media (max-width: 599px) {
        font-size: 15px;
        line-height: initial;
    }
}

.container::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #143861;
    border-radius: 9em;
}