.modalOverlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    width: 70%;
    height: 80%;
    position: relative;
}

.exitButton {
    position: absolute;
    left: -30px;
    top: -30px;
    background-color: transparent;
    text-align: left;
    width: 21px;
    height: 21px;
    border: none;
}

.exitButton i {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.exitButton i:hover {
    color: #1a85a8;
}

.modalBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noVideo {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.smile {
    font-size: 58px;
    color: #1a85a8;
}

.sorryText {
    font-size: 23px;
    color: white;
    font-weight: bold;
}