.movieTabsContainer {
    width: 100%;
    padding: 0 100px;
    background-color: #f5f6f6;
}

.movieTabsContainer nav {
    padding-top: 15px;
    border-bottom: 1px solid grey;
}

.movieTabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 560px;
}

.movieTabs a {
    color: #0aaee4;
    font-size: 21px;
    text-decoration: none;
}

.movieTabs li {
    padding-bottom: 15px;
}

.selectContainer {
    position: relative;
}

.select {
    background: none;
    border: none;
    color: #0aaee4;
    font-size: 21px;
}